*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080710;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#f3a90b,
      #eeee15);
  left: -120px;
  top: -120px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #e55f47,
      #cb5800);
  right: -50px;
  bottom: -150px;
}

form {
  height: 620px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 20px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.log form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  padding-top: 50px;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.log label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500; 
}

label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.log input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;  
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

.log button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #040404;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;    
}

button {
  margin-top: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #040404;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

button a{
    color: #080710;
    text-decoration: none;
}

button:hover {
  background-color: #4e4852;
}

a{
    text-decoration: none;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

/* homepage */

.navbar {
    list-style: none;
    display: flex;
    padding: 50px;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.13);
}

ul li a{
    text-decoration: none;
    color: #9d9d9d;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

ul li a:hover{
    color: #ffffff;
    filter: drop-shadow(0 15px 10px #000000);
}

li a{
    padding: 20px;
}

.top-selling h3{
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

#top-sellings{
    display: flex;
    justify-content: center;
}

.top-selling .col-4{
    padding: 30px;
}

.all-brand h3{
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

#all-brands{
    display: flex;
    justify-content: center;
}

#all-brands .col-1{
    padding: 10px;
}

#product-lists{
    display: flex;
    justify-content: center;
}

.product-list h3{
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 22px;    
}

.product-list .col-4{
    padding-right: 50px;
}

body, h2 {
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.card:hover{
  opacity: 1;
}

.card:hover .card-overlay {
  opacity: 2;
  transition: 2s;
  /* transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); */
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.card-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #eee;
}

footer .col-4 p{
  color: #ffffff;
  text-align: center;
  padding: 50px;
}

/* adminpage */

.nav-item .admin{
  list-style: none;
  display: flex;
  padding: 50px;
  color: #ffffff;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.13);
}

nav {
  background-color: #a2a1a1;
  width: 250px;
  height: 100vh;
  float: left;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.content {
  float: left;
  padding: 50px;
  width: calc(100% - 250px);
}

.content h2{
  color: #ffffff;
}

.content p{
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.table th,
.table td {
  text-align: center;
  padding-right: 45px;
  padding-left: 45px;
}

.btn {
  padding: 8px 16px;
  margin-right: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #bd2130;
}
